<link rel='stylesheet'
      href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
      integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ'
      crossorigin='anonymous'>

<footer class="footer-bs">
    <div class="row">
<!--        first column-->
        <div class="col-sm-auto footer-brand">
          <h2>SOHOT</h2>
          <p>Coffee company</p>
        </div>

<!--        second column-->
        <div class="col-md-auto footer-nav">
          <h4>Categories</h4>

          <a href="#">About Us</a><br>
          <a href="#">Products</a><br>
          <a href="#">Contact</a><br>
          <a href="#">Delivery</a><br>
          <a href="#">Privacy Policy</a>
        </div>

<!--        third  column-->
        <div class="col-md-auto footer-social">
          <h4>Contact Us</h4>

          <p>26A Ihuda St, Haifa,<br> Israel, 058187</p><br>
          <p>+65 6221 5462</p>
        </div>

<!--        fourth column-->
        <div class="col-xl-auto footer-ns">
          <h4>Subscribe to newsletter</h4>

          <div class="search-form">
              <input type="text" class="input-search" placeholder="ENTER YOUR EMAIL">
              <button type="submit" class="btn-search">SUBSCRIBE</button>
          </div>

          <div class="social">
            <a href="#" id="social-fb" class='fab fa-twitter-square'></a>
            <a href="#" id="social-tw" class='fab fa-facebook-square'></a>
          </div>
        </div>

<!--      copyrignt-->
      <div class="col container">
        <p>© Copyrignt SO HOT LTD 2019</p>
      </div>
    </div>
</footer>


