<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous">

<div class="page-header bg-dark "></div>

<nav class="navbar navbar-expand-lg navbar-light bg-white">

  <h1 class="navbar-brand" href="#" >SOHOT </h1>

  <div class="navbar-nav navbar-collapse mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="#">HOME </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">ABOUT</a>
    </li>

    <li class="nav-item dropdown" >
      <a class="nav-link dropdown-toggle" id="navbardrop"
         data-toggle="dropdown" >PRODUCTS</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">COFEE</a>
        <a class="dropdown-item" href="#">TEA</a>
        <a class="dropdown-item" href="#">UTENCIL</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">CONTACTS</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">DELIVERY</a>
    </li>
  </div>

  <div class="navbar-nav form-inline">
    <li class="nav-item" >
      <a class="nav-link" href="#" >LOGIN</a>
    </li>

    <li class="nav-item " href="#"  >
      <a class="fas fa-search "></a>
    </li>

    <li class="nav-item" href="#">
      <a class="fas fa-heart "></a>
    </li>

    <li class="nav-item" href="#" >
      <a class="fas fa-shopping-bag"></a>
    </li>
  </div>

</nav>
