<app-slider></app-slider>
<div class="page-header bg-light">
  <h4 align="center">Popular right now</h4>
</div>
<div class="card-body">
  <div class="row">
    <div class="col-4">
      <form class="sticky-top">
        <app-search-form (requestSearchForm)="submitSearchForm()"
                         (resetSearchForm)="resetSearchForm()"></app-search-form>
      </form>
    </div>
    <div class="col-8">
      <app-product-list-result [products]="products"></app-product-list-result>
    </div>
  </div>
</div>
