<div class="card-body">
  <table class="table table-hover table-bordered">
    <thead class="alert-info">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Short description</th>
      <th>Images</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{this.productDetails?.productId}}</td>
      <td>{{this.productDetails?.productName}}</td>
      <td>{{this.productDetails?.description}}</td>
      <td>{{this.productDetails?.shortDescription}}</td>
      <a *ngFor="let image of productDetails?.images" href="{{image}}">{{image}}<br></a>
    </tr>
    </tbody>
  </table>
  <table class="table table-hover table-bordered">
    <thead class="alert-info">
    <tr>
      <th>Preview image</th>
      <th>Bitter</th>
      <th>Sour</th>
      <th>Strong</th>
      <th>Amount Available</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <img [src]="this._sanitizer.bypassSecurityTrustResourceUrl('data:image/jpeg;base64,'
        + this.productDetails?.previewImage)" style="width: 50px; height: 50px">
      <!--        insert here pipe instead all this text-->
      <td>{{this.productDetails?.characteristics.bitter}}</td>
      <td>{{this.productDetails?.characteristics.sour}}</td>
      <td>{{this.productDetails?.characteristics.strong}}</td>
      <td>{{this.productDetails?.amountAvailable}}</td>
      <td>{{this.productDetails?.price}}</td>
    </tr>
    </tbody>
  </table>
</div>
<img src="../../assets/imagesProductDetails/Image_Product%20description.png" style="width: 100%">
